:root {
    --color-primary: #01161E; 
    --color-secondary: #124559;
    --color-accent: #598392;
    --color-muted: #AEC3B0;
    --color-background: #EFF6E0;
    --color-text: rgb(220, 230, 200);
}


body{
    font-family: 'Oswald', sans-serif;
    background-color: var(--color-background);
    width: 100%;
    height: 100%;
} 